# إعدادات التيليجرام
BOT_TOKEN=8624354425:AAEYNe5BOSlFNoC-X0SpTCTwNnRre_SMsZE
ADMIN_GROUP=-1003983996094
OWNER_ID=6693251012

# إعدادات واجهة برمجة تطبيقات وكالة Texas4Win
API_BASE_URL=https://www.texas4win.com
AGENT_USERNAME=Bero@yahoo.com
AGENT_PASSWORD=Aazzam@318
PARENT_ID=2688288
DEFAULT_CURRENCY=USD

# محافظ الدفع الافتراضية
SHAM_CASH_WALLET=a18758d5324eb7595d4463ca355ad221
SYRIATEL_CASH_CODE=48122120

# منفذ فحص الحياة لمنصة Render
PORT=3000
